@use 'variables' as *;

// ---- RESET ----
*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }
body  { font-family: $font-body; background: $light; color: $dark; font-size: 1rem; line-height: 1.6; }
img   { display: block; max-width: 100%; height: auto; }
a     { text-decoration: none; color: inherit; }
ul    { list-style: none; }
address { font-style: normal; }

:focus-visible { outline: 3px solid $accent; outline-offset: 3px; }

// ---- ACCESSIBILITE ----
.sr-only    { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); white-space: nowrap; border: 0; }
.skip-link  { position: absolute; top: -100%; left: 0; background: $accent; color: $primary; padding: .75rem 1.5rem; font-weight: 700; z-index: 9999; &:focus { top: 0; } }

// ---- CONTENEUR ----
.w { width: 100%; max-width: $max-w; margin: 0 auto; padding: 0 1rem; }
